<div class="container">
    <div class="row">
        <div class="col">
            <select name="" id="">
      <option value=""></option>
    </select>
        </div>
    </div>

    <div class="row">
        <div class="col bg-dark text-center text-white">ID</div>
        <div class="col bg-dark text-center text-white">Url</div>
        <div class="col bg-dark text-center text-white">Title</div>
        <div class="col bg-dark text-center text-white">Company</div>
        <div class="col bg-dark text-center text-white">experience</div>
        <div class="col bg-dark text-center text-white">Location</div>
        <div class="col bg-dark text-center text-white">City</div>
        <div class="col bg-dark text-center text-white">keyskills</div>
        <div class="col bg-dark text-center text-white">Tech Area</div>
        <div class="col bg-dark text-center text-white">Jobdesc</div>
        <div class="col bg-dark text-center text-white">ctc</div>
        <div class="col bg-dark text-center text-white">Posted By</div>
        <div class="col bg-dark text-center text-white">When</div>
        <div class="col bg-dark text-center text-white">favourite</div>
    </div>
    <div class="row">
        <div class="col">

        </div>

    </div>
</div>